body {
    display: grid;
    place-items: center;
    background-color: aqua;
}
form#tempCalc {
    background-color: darksalmon;
    width: 550px;
    text-align: center;
    margin: 61px;
    height: 190px;
}
label {
    font-size: 25px;
    font-weight: 600;
}
input#temp,input[type="Submit"] {
    margin: 15px;
    font-size: large;
}
select#temp_diff {
    margin: 15px;
    font-size: large;
    padding: 1px;
}
input[type="Submit"]:hover {
    color: white;
    background-color: black;
}
span#resultContainer {
    margin: 10px;
    font-size: larger;
    background-color: white;
    color: black;
    padding: 4px;
}
