*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {background-color: black;display: flex;justify-content: center;align-items: center;margin-top: 8rem;}

div#container {
    background-color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 50px;
    /* padding: 20px; */
    text-align: center;
    width: 280px;
    height: 345px;
}

p.card-body-text {
    padding-bottom: 10px;
}

img.card-body-img {
    width: 144px;
    margin-bottom: 22px;
}

.card-body {
    padding-top: 10px;
}

h1.card-body-title {
    font-size: 21px;
}

.card-footer {
    display: flex;
}

.card-footer {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.card-footer {
    padding: 10px 10px;
}

p {
    font-family: sans-serif;
    color: darkolivegreen;
}

div#container:hover {
    width: 340px;
    height: 340px;
}

